<!DOCTYPE HTML>
<html>
    <head>
        <title>Login Request {{ hostname }}</title>
        <meta charset="utf-8"/>
    </head>
    <body>
        <h1>Login Request {{ hostname }}</h1>
        <p>Hello {{ name }}</p>
        <p>Someone requested to login with your eMail.</p>
        <p>If you didn't plan to login, just ignore this mail.</p>
        <p>Otherwise go to <a href="https://{{ hostname }}/email-login/{{ oneTime }}">the login</a>.</p>
        <p>Have a great day,<br/>Your Ticket-Bot</p>
        <br />
        <p>The site {{ hostname }} is hosted and operated by Björn 'Idrinth' Büttner, see the <a href="https://{{ hostname }}/imprint">imprint</a> for more information.</p>
    </body>
</html>