<!DOCTYPE HTML>
<html>
    <head>
        <title>Login Request {{ hostname }}</title>
        <meta charset="utf-8"/>
    </head>
    <body>
        <h1>Ticket created at {{ hostname }}</h1>
        <p>Hello {{ name }}</p>
        <p>We created a ticket from your last mail at https://{{ hostname }}/{{ project }}/{{ ticket }} and will work on it as soon as possible.</p>
        <p>We created an account for you if you didn't have one before, so that you can adjust your preferences in the profile. Any new account will have been opted into ticket-updates via email automatically.</p>
        <p>Have a great day,<br/>Your Ticket-Bot</p>
        <br/>
        <p>The site {{ hostname }} is hosted and operated by Björn 'Idrinth' Büttner, see the imprint at https://{{ hostname }}/imprint for more information.
        <br/>
        <p>If you don't want to recieve any additional mail from the site, you can blacklist your email with the attached unsubscribe information. Please note, that that will cause logins to be impossible when using this eMail.</p>
        <p>If you want to get rid of the watched ticket information mails, remove the opt-in in your profile.</p>
    </body>
</html>