<!DOCTYPE HTML>
<html lang="en">
    <head>
        <title>{{ title }} | Idrinth's Ticket System</title>
        <meta charset="utf8"/>
        <link href="/styles.css" rel="stylesheet"/>
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="icon" href="/favicon.ico" type="image/x-icon" />
        <link rel="manifest" href="/site.webmanifest">
        <meta name="author" content="Björn 'Idrinth' Büttner" />
        <meta name="description" content="The ticket system used by Björn 'Idrinth' Büttner to manage his projects. Feel free to add tasks if you need or want something." />
    </head>
    <body>
        <div id="header">
            <a href="/"><img src="/logo.png" alt="Logo"/></a>
            <strong>Idrinth's Ticket System</strong>
            {% if user and user.aid %}<span>Logged in as {{ user.display }}</span>{% endif %}
            <ul id="notifications"></ul>
        </div>
        <div id="nav">
            <nav>
                <ul>
                    <li>Website Functions<ul>
                            <li><a href="/login">Login</a></li>
                            <li><a href="/profile">Profile</a></li>
                            <li><a href="/my-tickets">My Tickets</a></li>
                            <li><a href="/new">New Ticket</a></li>
                            <li><a href="/times">Time Tracker</a></li>
                            <li><a href="https://discord.gg/xHSF8CGPTh" target="_blank">Discord-Server</a></li>
                        </ul>
                    </li>
                    <li>Nexusmod Projects<ul>
                {% for project in projects %}
                    {% if project.nexusmods is not empty %}
                        <li title="{{ project.description }}"><a href="/{{ project.slug }}">{{ project.name }}</a></li>
                    {% endif %}
                {% endfor %}
                        </ul></li>
                    <li>Github Projects<ul>
                {% for project in projects %}
                    {% if project.github is not empty %}
                        <li title="{{ project.description }}"><a href="/{{ project.slug }}">{{ project.name }}</a></li>
                    {% endif %}
                {% endfor %}
                        </ul></li>
                    <li>Other Projects<ul>
                {% for project in projects %}
                    {% if project.github is empty and project.nexusmods is empty %}
                        <li title="{{ project.description }}"><a href="/{{ project.slug }}">{{ project.name }}</a></li>
                    {% endif %}
                {% endfor %}
                        </ul></li>
                </ul>
            </nav>
        </div>
        <div id="content">