<!DOCTYPE HTML>
<html lang="en">
    <head>
        <title>{{ title }} | Idrinth's Ticket System</title>
        <meta charset="utf8"/>
        <link href="/styles.css" rel="stylesheet"/>
        <link rel="icon" href="favicon.ico" type="image/x-icon" />
        <meta name="author" content="Björn 'Idrinth' Büttner" />
        <meta name="description" content="The ticket system used by Björn 'Idrinth' Büttner to manage his projects. Feel free to add tasks if you need or want something." />
    </head>
    <body>
        <div id="header">
            <img src="/logo.png" alt="Logo"/>
            <strong>Idrinth's Ticket System</strong>
            {% if user and user.aid %}<span>Logged in as {{ user.display }}</span>{% endif %}
            <ul id="notifications"></ul>
        </div>
        <div id="nav">
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/profile">Profile</a></li>
                    <li><a href="/new">New Ticket</a></li>
                    <li><a href="/times">Time Tracker</a></li>
                    <li><a href="https://discord.gg/xHSF8CGPTh" target="_blank">Discord-Server</a></li>
                    <li>Nexusmods<ul>
                {% for project in projects %}
                    {% if project.nexusmods is not empty %}
                        <li title="{{ project.description }}"><a href="/{{ project.slug }}">{{ project.name }}</a></li>
                    {% endif %}
                {% endfor %}
                        </ul></li>
                    <li>Github<ul>
                {% for project in projects %}
                    {% if project.github is not empty %}
                        <li title="{{ project.description }}"><a href="/{{ project.slug }}">{{ project.name }}</a></li>
                    {% endif %}
                {% endfor %}
                        </ul></li>
                    <li>Other<ul>
                {% for project in projects %}
                    {% if project.github is empty and project.nexusmods is empty %}
                        <li title="{{ project.description }}"><a href="/{{ project.slug }}">{{ project.name }}</a></li>
                    {% endif %}
                {% endfor %}
                        </ul></li>
                </ul>
            </nav>
        </div>
        <div id="content">