{% include 'header.twig' %}
<h2>New Ticket</h2>
{% if user and user.aid %}
    <p>Create a new ticket below!</p>
    <form method="post">
        <label for="title">Title/Subject</label>
        <input type="text" id="title" name="title" required/>
        <label for="unlisted">Unlisted</label>
        <input type="hidden" value="0" name="unlisted"/>
        <input type="checkbox" value="1" id="unlisted" name="unlisted"/>
        <label for="description">Description(<a href="https://docs.github.com/en/get-started/writing-on-github/getting-started-with-writing-and-formatting-on-github" target="_blanK">Markdown</a>)</label>
        <textarea id="description" name="description" required></textarea>
        <label for="type">Type</label>
        <select id="type" name="type">
            <option value="bug">Bug(an error)</option>
            <option value="feature">Feature(something new or changed)</option>
            <option value="service">Service Request(everything else)</option>
        </select>
        <label for="project">Project</label>
        <select id="project" name="project">
            <option value="unknown">unknown</option>
            <optgroup label="Nexusmods">
                {% for project in projects %}
                    {% if project.nexusmods is not empty %}
                        <option title="{{ project.description }}" value="{{ project.slug }}">{{ project.name }}</option>
                    {% endif %}
                {% endfor %}
            </optgroup>
            <optgroup label="Github">
                {% for project in projects %}
                    {% if project.github is not empty %}
                        <option title="{{ project.description }}" value="{{ project.slug }}">{{ project.name }}</option>
                    {% endif %}
                {% endfor %}
            </optgroup>
            <optgroup label="Other">
                {% for project in projects %}
                    {% if project.github is empty and project.nexusmods is empty %}
                        <option title="{{ project.description }}" value="{{ project.slug }}">{{ project.name }}</option>
                    {% endif %}
                {% endfor %}
            </optgroup>
        </select>
        <button type="submit">Create</button>
    </form>
{% else %}
    <p>Please login or send an eMail with your Ticket to <a href="mailto:{{ targetmail }}">{{ targetmail }}</a></p>
{% endif %}
{% include 'footer.twig' %}