{% include 'header.twig' %}
<h2><a target="_blank" href="{% if project.nexusmods %}https://www.nexusmods.com/skyrimspecialedition/mods/{{ project.nexusmods }}{% elseif project.github %}https://github.com/{{ project.github }}{% else %}{{ project.url }}{% endif %}">{{ project.name }}</a></h2>
<p>{{ project.description }}</p>
<div class="board">
    <div class="column">
        <h3>New</h3>
        {% for ticket in newTickets %}
        <div class="ticket">
            <h4>{{ ticket.creator.display }}: <a href="/{{ project.slug }}/{{ ticket.slug }}">{{ ticket.title }}</a></h4>
            <p><a href="/{{ project.slug }}">{{ project.name }}</a></p>
            <p>{{ ticket.type }}: {{ ticket.status.name }}</p>
        </div>
        {% endfor %}
    </div>
    <div class="column">
        <h3>WIP</h3>
        {% for ticket in wipTickets %}
        <div class="ticket">
            <h4>{{ ticket.creator.display }}: <a href="/{{ project.slug }}/{{ ticket.slug }}">{{ ticket.title }}</a></h4>
            <p><a href="/{{ project.slug }}">{{ project.name }}</a></p>
            <p>{{ ticket.type }}: {{ ticket.status.name }}</p>
        </div>
        {% endfor %}
    </div>
    <div class="column">
        <h3>Done</h3>
        {% for ticket in doneTickets %}
        <div class="ticket">
            <h4>{{ ticket.creator.display }}: <a href="/{{ project.slug }}/{{ ticket.slug }}">{{ ticket.title }}</a></h4>
            <p><a href="/{{ project.slug }}">{{ project.name }}</a></p>
            <p>{{ ticket.type }}: {{ ticket.status.name }}</p>
        </div>
        {% endfor %}
    </div>
</div>
{% include 'footer.twig' %}
