{% include 'header.twig' %}
<h2>{{ project.name }}</a></h2>
{% if project.nexusmods %}<p>On <a target="_blank" href="https://www.nexusmods.com/skyrimspecialedition/mods/{{ project.nexusmods }}">Nexusmods</a></p>{% endif %}
{% if project.github %}<p>On <a href="https://github.com/{{ project.github }}" target="_blank">Github</a></p>{% endif %}
{% if project.url %}<p>Deployed to <a href="{{ project.url }}" target="_blank">live</a></p>{% endif %}
<p>{{ project.description }}</p>
<div class="board">
    <div class="column">
        <h3>New</h3>
        {% for ticket in newTickets %}
        <div class="ticket">
            <h4>{{ ticket.creator.display }}: <a href="/{{ project.slug }}/{{ ticket.slug }}">{{ ticket.title }}</a></h4>
            <p>{{ ticket.type }}: {{ ticket.status.name }}</p>
        </div>
        {% endfor %}
    </div>
    <div class="column">
        <h3>WIP</h3>
        {% for ticket in wipTickets %}
        <div class="ticket">
            <h4>{{ ticket.creator.display }}: <a href="/{{ project.slug }}/{{ ticket.slug }}">{{ ticket.title }}</a></h4>
            <p>{{ ticket.type }}: {{ ticket.status.name }}</p>
        </div>
        {% endfor %}
    </div>
    <div class="column">
        <h3>Done</h3>
        {% for ticket in doneTickets %}
        <div class="ticket">
            <h4>{{ ticket.creator.display }}: <a href="/{{ project.slug }}/{{ ticket.slug }}">{{ ticket.title }}</a></h4>
            <p>{{ ticket.type }}: {{ ticket.status.name }}</p>
        </div>
        {% endfor %}
    </div>
</div>
{% include 'footer.twig' %}
