{% include 'header.twig' %}
<div class="detail">
    <h2>{{ ticket.title }}</h2>
    <p>Created: {{ ticket.created }} by {{ users[ticket.creator] }}</p>
    <p>Modified: {{ ticket.modified }}</p>
    {% if isContributor %}
        <form method="post" onchange="this.submit();">
            <label for="status">Status</label>
            <select name="status" id="status">
                <optgroup label="new">
                {% for status in stati %}
                    {% if status.type == 'new' %}
                        <option value="{{ status.aid }}">{{ status.name }}</option>
                    {% endif %}
                {% endfor %}
                </optgroup>
                <optgroup label="wip">
                {% for status in stati %}
                    {% if status.type == 'wip' %}
                        <option value="{{ status.aid }}">{{ status.name }}</option>
                    {% endif %}
                {% endfor %}
                </optgroup>
                <optgroup label="done">
                {% for status in stati %}
                    {% if status.type == 'done' %}
                        <option value="{{ status.aid }}">{{ status.name }}</option>
                    {% endif %}
                {% endfor %}
                </optgroup>
            </select>
        </form>
    {% else %}
        <p>Status: {{ stati[ticket.status].name }}({{ stati[ticket.status].type }})</p>
    {% endif %}
    <div class="description">{% autoescape false %}
    {{ ticket.description | markdown }}
    {% endautoescape %}</div>
    <ul>
    {% for time in times %}
        <li>{{ time.duration | date('H:i:s') }} {{ users[time.user] }} {{ time.name }}</li>
    {% endfor %}
    {% if isContributor %}
    <li>
        <form method="post">
            <label for="duration">Duration</label>
            <input type="number" id="duration" name="duration" min="0"/>
            <label for="task">Task</label>
            <select id="task" name="task">
                {% for status in stati %}
                    {% if status.type == 'wip' %}
                        <option value="{{ status.aid }}">{{ status.name }}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <button type="submit">Add Time</button>
        </form>
    </li>
    {% endif %}
    </ul>
</div>
<ul>
{% for comment in comments %}
    <li class="comment" id="c{{ comment.aid }}">
        <strong>{{ users[comment.creator] }}</strong>
        <span>{{ comment.created }}</span>
        {% autoescape false %}
        {{ comment.content | markdown }}
        {% endautoescape %}
    </li>
{% endfor %}
{% if user is not empty and user.aid > 0 %}
    <li class="comment">
        <form method="post">
            <label for="content">Your comment(<a href="https://docs.github.com/en/get-started/writing-on-github/getting-started-with-writing-and-formatting-on-github" target="_blanK">Markdown</a>)</label>
            <textarea name="content" id="content"></textarea>
            <button type="submit">Comment</button>
        </form>
    </li>
{% endif %}
</ul>
{% include 'footer.twig' %}
