{% include 'header.twig' %}
<h2>{{ ticket.title }}</h2>
<p>Created: {{ ticket.created }} by {{ users[ticket.creator] }}</p>
<p>Modified: {{ ticket.modified }}</p>
<p>{{ ticket.description }}</p>
<ul>
{% for comment in comments %}
    <li>
        <strong>{{ users[comment.creator] }}</strong>
        <span>{{ comment.created }}</span>
        <p>{{ comment.content }}</p>
    </li>
{% endfor %}
{% if user is not empty and user.aid > 0 %}
    <li>
        <form method="post">
            <label for="content">Your comment</label>
            <textarea name="content" id="content"></textarea>
            <button type="submit">Comment</button>
        </form>
    </li>
{% endif %}
</ul>
{% include 'footer.twig' %}
