{% include 'header.twig' %}
<div class="detail">
    <h2>{{ ticket.title }}</h2>
    <p>Created: {{ ticket.created }} by {{ users[ticket.creator] }}</p>
    <p>Modified: {{ ticket.modified }}</p>
    {% autoescape false %}
    {{ ticket.description | markdown }}
    {% endautoescape %}
    <ul>
    {% for time in times %}
        <li>{{ time.duration| date('H:i:s') }} {{ users[time.user] }} {{ time.name }}</li>
    {% endfor %}
    </ul>
</div>
<ul>
{% for comment in comments %}
    <li class="comment" id="c{{ comment.aid }}">
        <strong>{{ users[comment.creator] }}</strong>
        <span>{{ comment.created }}</span>
        {% autoescape false %}
        {{ comment.content | markdown }}
        {% endautoescape %}
    </li>
{% endfor %}
{% if user is not empty and user.aid > 0 %}
    <li class="comment">
        <form method="post">
            <label for="content">Your comment</label>
            <textarea name="content" id="content"></textarea>
            <button type="submit">Comment</button>
        </form>
    </li>
{% endif %}
</ul>
{% include 'footer.twig' %}
