{% include 'header.twig' %}
<div class="detail">
    <h2>{{ ticket.title }}</h2>
    <p>Created: {{ ticket.created }} by {{ users[ticket.creator] }}</p>
    <p>Modified: {{ ticket.modified }}</p>
    <form method="post">
        <label for="assignees">Assigned to</label>
        <select id="assignees" name="assignees[]" multiple{% if not isContributor or isDone %} disabled{% endif %}>
            {% for assignee in assignees %}
                <option value="{{ assignee.aid }}"{% if assignee.assigned=='1' %} selected{% endif %}>{{ assignee.display }}</option>
            {% endfor %}
        </select>
        {% if isContributor and not isDone %}<button type="select">Assign</button>{% endif %}
    </form>
    {% if isContributor and not isDone %}
        <form method="post" onchange="this.submit();">
            <label for="unlisted">Unlisted?</label>
            <input type="checkbox" value="1"{% if ticket.private=='1' %} checked{% endif %} name="unlisted" id="unlisted"/>
        </form>
    {% else %}
        <p>Unlisted: {% if ticket.private=='1' %}Yes{% else %}No{% endif %}</p>
    {% endif %}
    <p>Watchers: <ul>{% for user in watchers %}<li>{{ users[user.user] }}</li>{% endfor %}</ul>
    {% if user is not empty and user.aid > 0 and not isDone %}<form method="post"><input type="hidden" name="watch" value="1"/><button type="submit">watch</button></form>{% endif %}
    <p>Upvotes: {{ upvotes }}</p>
    {% if user is not empty and user.aid > 0 and not isDone %}<form method="post"><input type="hidden" name="vote" value="1"/><button type="submit">{% if isUpvoter %}Downvote{% else %}Upvote{% endif %}</button></form>{% endif %}
    {% if isContributor %}
        <form method="post" onchange="this.submit();">
            <label for="status">Status</label>
            <select name="status" id="status">
                <optgroup label="new">
                {% for status in stati %}
                    {% if status.type == 'new' %}
                        <option{% if ticket.status == status.aid %} selected{% endif %} value="{{ status.aid }}">{{ status.name }}</option>
                    {% endif %}
                {% endfor %}
                </optgroup>
                <optgroup label="wip">
                {% for status in stati %}
                    {% if status.type == 'wip' %}
                        <option{% if ticket.status == status.aid %} selected{% endif %} value="{{ status.aid }}">{{ status.name }}</option>
                    {% endif %}
                {% endfor %}
                </optgroup>
                <optgroup label="done">
                {% for status in stati %}
                    {% if status.type == 'done' %}
                        <option{% if ticket.status == status.aid %} selected{% endif %} value="{{ status.aid }}">{{ status.name }}</option>
                    {% endif %}
                {% endfor %}
                </optgroup>
            </select>
        </form>
    {% else %}
        <p>Status: {{ stati[ticket.status].name }}({{ stati[ticket.status].type }})</p>
    {% endif %}
    {% if isContributor and not isDone %}
        <form method="post" onchange="this.submit();">
            <label for="project">Project</label>
            <select name="project" id="project">
                {% if ticket.project==0 %}<option selected value="unknown">Unknown</option>{% endif %}
                <optgroup label="Nexusmods">
                {% for project in projects %}
                    {% if project.nexusmods is not empty %}
                        <option{% if ticket.project==project.aid %} selected{% endif %} title="{{ project.description }}" value="{{ project.slug }}">{{ project.name }}</option>
                    {% endif %}
                {% endfor %}
                </optgroup>
                <optgroup label="Github">
                {% for project in projects %}
                    {% if project.github is not empty %}
                        <option{% if ticket.project==project.aid %} selected{% endif %} title="{{ project.description }}" value="{{ project.slug }}">{{ project.name }}</option>
                    {% endif %}
                {% endfor %}
                </optgroup>
                <optgroup label="Other">
                {% for project in projects %}
                    {% if project.nexusmods is empty and project.github is empty %}
                        <option{% if ticket.project==project.aid %} selected{% endif %} title="{{ project.description }}" value="{{ project.slug }}">{{ project.name }}</option>
                    {% endif %}
                {% endfor %}
                </optgroup>
            </select>
        </form>
    {% else %}
        <p title="{{ ticket_project.description }}">Project: {{ ticket_project.name }}</p>
    {% endif %}
    <div class="description">{% autoescape false %}
    {{ ticket.description | markdown }}
    {% endautoescape %}</div>
    <ul>
    {% for time in times %}
        <li>On {{ time.day}} {{ users[time.user] }}: {{ time.name }} for {{ time.duration | date('H:i') }}</li>
    {% endfor %}
    {% if isContributor and not isDone %}
    <li>
        <form method="post">
            <label for="duration">Duration</label>
            <input type="time" id="duration" name="duration" step="1"/>
            <label for="task">Task</label>
            <select id="task" name="task">
                {% for status in stati %}
                    {% if status.type == 'wip' %}
                        <option value="{{ status.aid }}"{% if status.aid==ticket.status %} selected{% endif %}>{{ status.name }}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <button type="submit">Add Time</button>
            <button type="button" id="time-track">Start/End tracking</button>
        </form>
    </li>
    {% endif %}
    </ul>
</div>
<ul id="attachments">
{% for attachment in attachments %}
    <li class="attachment">
        {% if attachment.mime == 'image/jpeg' or attachment.mime == 'image/gif' or attachment.mime == 'image/png' %}
            <a href="/api/attachments/{{ ticket.slug }}/{{ attachment.aid }}"><img alt="{{ attachment.name }}"title="{{ attachment.name }} from {{ attachment.uploaded }}" src="/api/attachments/{{ ticket.slug }}/{{ attachment.aid }}"/></a>
        {% else %}
            <strong title="{{ attachment.uploaded }}"><a href="/api/attachments/{{ ticket.slug }}/{{ attachment.aid }}">{{ attachment.name }}</a></strong>
        {% endif %}
    </li>
{% endfor %}
{% if user is not empty and user.aid > 0 and not isDone %}
    <li class="attachment">
        <form method="post" enctype="multipart/form-data">
            <label for="file">Your file</label>
            <input type="file" name="file" id="file"/>
            <button type="submit">Upload</button>
        </form>
    </li>
{% endif %}
</ul>
<ul>
{% for comment in comments %}
    <li class="comment" id="c{{ comment.aid }}">
        <strong>{{ users[comment.creator] }}</strong>
        <span>{{ comment.created }}</span>
        {% autoescape false %}
        {{ comment.content | markdown }}
        {% endautoescape %}
    </li>
{% endfor %}
{% if user is not empty and user.aid > 0 %}
    <li class="comment">
        <form method="post">
            <label for="content">Your comment(<a href="https://docs.github.com/en/get-started/writing-on-github/getting-started-with-writing-and-formatting-on-github" target="_blanK">Markdown</a>)</label>
            <textarea name="content" id="content"></textarea>
            <button type="submit">Comment</button>
        </form>
    </li>
{% endif %}
</ul>
{% include 'footer.twig' %}
