{% include 'header.twig' %}
<h1>Time Spent</h1>
<div style="display: flex">
    <table>
        <thead>
            <tr>
                <th>Day</th>
                <th>Task</th>
                <th>Duration</th>
                <th>User</th>
                <th>Project</th>
            </tr>
        </thead>
        <tbody>
            {% for ts in times %}
                <tr>
                    <th>{{ ts.day }}</th>
                    <th>{{ ts.status }}</th>
                    <td>{{ ts.duration | date('H:i') }}</td>
                    <td>{{ ts.user }}</td>
                    <td>{{ ts.project }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div>
      <canvas id="distribution-project"></canvas>
    </div>
    <div>
      <canvas id="distribution-user"></canvas>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.umd.min.js"></script>
<script>
(() => {
  new Chart(document.getElementById('distribution-project'), {
    type: 'pie',
    data: {
      labels: [{% for project,ts in timePerProject %}"{{ project }}",{% endfor %}],
      datasets: [{
        label: 'Seconds of Work',
        data: [{% for ts in timePerProject %}"{{ ts }}",{% endfor %}],
      }]
    }
  });
  new Chart(document.getElementById('distribution-user'), {
    type: 'pie',
    data: {
      labels: [{% for user,ts in timePerUser %}"{{ user }}",{% endfor %}],
      datasets: [{
        label: 'Seconds of Work',
        data: [{% for ts in timePerUser %}"{{ ts }}",{% endfor %}],
      }]
    }
  });
})();
</script>
{% include 'footer.twig' %}